.level
{
	background: gold;
	padding: 4px;
	margin-right: 5px;
	display: inline-block;
}
.a-tag{
	text-decoration: none;
	font-size: 14px;
	display: block;
}

.alert .alert-danger
{
	padding: 6px;
	text-transform: capitalize;
	font-style: italic;
}
